@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

img {
    width: 583px;
    height: 374px;
    flex-shrink: 0;
}

h2 {
    font-size: 32px;
    font-style: normal;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-weight: 400;
    line-height: 38px;
    margin-top: 126px;
    margin-bottom: 40px;
}

input {
  
    width: 342px;
    height: 74px;
    padding: 13px;
    align-items: center;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    color: #FFF;
    font-weight: 500;
    line-height: normal;
    font-size: 40px;
    opacity: 0.7;
}

.input-min {
    margin-right: 62px;
}




button {
    display: flex;
    width: 342px;
    height: 72px;
    font-weight: 700;
    padding: 0px 76px;
    line-height: 2.5px;
    text-align: center;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #AEC346;
    color: #FFF;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    font-weight: 700;
    margin-top: 80px;
    border: none;
    cursor: pointer;
}


button:hover {
    opacity: 0.8;
}

button:active {
    opacity: .5;
}

div {
    display: flex;
}